.Profile {
    padding: 10px;
    flex: 1;
}

.Name {
    color: var(--text-header);
    font-size: var(--text-size-xl);
}

input.Name {
    font-weight: bold;
}

.Id {
    color: var(--text-header);
    font-size: var(--text-size-l);
}

.Description {
    color: var(--text-content);
    font-size: var(--text-size-m); 
}

textarea.Description {
    display: block;
}

@media screen and (min-width: 380px){
    .Profile {
        position: initial;
    }
}

@media screen and (min-width: 470px){
    .Profile {
        padding: 50px;
    }
}