.Profile {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.ProfileContainer {
    margin: 16px;
    padding: 16px;
    flex: 1;
}

.Name {
    color: var(--text-header);
    font-size: var(--text-size-xl);
}

input.Name {
    font-weight: bold;
}

.Id {
    color: var(--text-header);
    font-size: var(--text-size-l);
}

/* @media screen and (min-width: 470px){
    .Profile {
        padding: ;
    }
} */