.Container {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}

.Container:nth-child(2) {
    flex-grow: 1;
}

.Container:not():nth-child(2) {
    flex-grow: 0;
}