body {
    margin: 0;
}

header {

}
.light header {
    
}
.dark header {

}

nav {

}
.light nav {
    
}
.dark nav {

}

main {
    width: 100%;
    height: 100%;
}
.dark main {
    background-color: #313233;
}
.light main {

}

.dark input{
    background-color: #909192;
    border: 1px solid #656667;
    border-radius: 3px;
}
.light input {

}

button {
    background-color: #2847f5;
}
button.text{
    background-color: transparent;
    border: none !important; 
}

.light button {

}
.dark button {
    border-radius: 3px;
    border: 1px solid #656667;
}

input {

}
.light input {

}
.dark input {
    
}

.sidebar ul {

}
.dark .slidebar ul {
    
}
.light .slidebar ul {

}

.sidebar li {

}
.dark .slidebar li {
    
}
.light .slidebar li {

}

.chat ul {

}
.dark .chat ul {
    
}
.light .chat ul {

}

.chat li {

}
.dark .chat ul {
    
}
.light .chat ul {

}