@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

p,
input,
button,
a {
    font-size: 18px;
}

button.text {
    text-decoration: underline;
    text-align: left;
}

.light h1,
.light h2,
.light h3,
.light p,
.light a {
    color: rgb(51, 51, 51);
}
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark a {
    color: #d9d9d9;
}

::placeholder,
.dark button,
.dark input {
    color: #e3e3e2;
}