.Nav {
    padding: 15px;
    background-color: var(--primary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.Nav a {
    text-transform: uppercase;
}

@media screen and (min-width: 480px){
    .Nav {
        justify-content: space-between;
    }
}