.Nav {
    padding: 15px;
    background-color: var(--surface-2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}