.SettingsIcon {

}

.SettingsTooltip {
    position: absolute;
    left: 0;
    top: 48px;
    background-color: var(--surface-2);
    border: 1px solid var(--border);
    padding: 5px 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 10;
}

.SettingsTooltip > * {
    display: block;
}

.SettingsTooltipButton:hover {

}

.SettingsTooltipButton:active {

}