.App {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background-color: var(--surface-0);
    color: var(--text-content);
    display: flex;
    flex-flow: column nowrap;
}

body {
    margin: 0
}

h1, h2, h3 {
    margin: 0;
    padding: 5px;
}

h1 {
    color: var(--text-header);
    font-size: var(--text-size-xl);
}
h2 {
    color: var(--text-header);
    font-size: var(--text-size-l);
}
h3 {
    color: var(--text-header);
    font-size: var(--text-size-m);
}