:root, .light {
    --primary: rgb(114, 189, 133);
    --button-primary: rgb(114, 189, 133);
    --button-secondary: #fff;

    --text-header: rgb(75, 75, 75);
    --text-content: rgb(95, 95, 95);
    --text-info: rgb(98, 98, 98);
    --text-important: rgb(24, 24, 24);

    --text-size-xs: .5rem; 
    --text-size-s: 1rem; 
    --text-size-m: 1.5rem; 
    --text-size-l: 2.5rem; 
    --text-size-xl: 3rem; 

    --surface-0: rgb(255, 255, 255);
    --surface-1: rgb(225, 225, 225);
    --surface-2: rgb(153, 153, 153);
    --surface-3: rgb(206, 201, 201);

    --border: rgb(184, 170, 170);
    --shadow: rgb(184, 170, 170);

    --secondary: rgb(255, 255, 255);
    --success: rgba(24, 192, 18, .8);
    --danger: rgba(250, 6, 6, 0.6);
    --neutral: rgb(198, 193, 192);
    --border-color: rgba(0,0,0,1);

    --text-color: rgb(230, 230, 230);

    --border-color: rgba(0,0,0,1); 
  }
  
.dark {
  


    --primary: rgb(34, 34, 34);
    --secondary: rgb(117, 117, 117);
    --success: rgb(63, 168, 60);
    --danger: rgb(165, 54, 54);
    --neutral: rgb(158, 148, 147);
}
