:root, .light {
    --primary: rgb(114, 189, 133);
    --success: rgba(0, 47, 255, 0.8);
    --active: rgba(0, 47, 255, 0.8);
    --neutral: rgb(198, 193, 192);

    --button-primary: var(--primary);
    --button-secondary: #fff;

    --text-header: rgb(75, 75, 75);
    --text-content: rgb(54, 54, 54);
    --text-info: rgb(98, 98, 98);
    --text-important: rgb(24, 24, 24);
    --text-inverted: rgb(255, 255, 255);

    --text-size-xs: .8rem; 
    --text-size-s: 1rem; 
    --text-size-m: 1.5rem; 
    --text-size-l: 2.5rem; 
    --text-size-xl: 3rem; 

    --surface-0: rgb(255, 255, 255);
    --surface-1: rgb(225, 225, 225);
    --surface-2: rgb(206, 201, 201);
    --surface-3: rgb(153, 153, 153);

    --border: rgb(184, 170, 170);
    --shadow: rgb(184, 170, 170);

    --secondary: rgb(255, 255, 255);
    --danger: rgba(250, 6, 6, 0.6);
    --border-color: rgba(0,0,0,1);
    --text-color: rgb(230, 230, 230);
    --border-color: rgba(0,0,0,1);

  }
  
.dark {
    --primary: rgb(60, 127, 77);
    --success: rgba(0, 47, 255, 0.8);
    --neutral: rgb(198, 193, 192);

    --button-primary: var(--primary);
    --button-secondary: rgb(10, 10, 10);

    --text-header: rgb(199, 199, 199);
    --text-content: rgb(199, 199, 199);
    --text-info: rgb(199, 199, 199);
    --text-important: rgb(199, 199, 199);
    --text-inverted: rgb(0, 0, 0);

    --surface-0: rgb(32, 32, 32);
    --surface-1: rgb(62, 62, 62);
    --surface-2: rgb(75, 75, 75);
    --surface-3: rgb(75, 75, 75);

    --border: rgb(144, 136, 136);
    --shadow: rgb(184, 170, 170);

    --secondary: rgb(117, 117, 117);
    --success: rgb(63, 168, 60);
    --danger: rgb(165, 54, 54);
    --neutral: rgb(158, 148, 147); 
}
