.Channel {
    /* background-color: var(--surface-3); */
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-width: 100vw;
}

.Channel aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}