.ChannelsList {}

.CreateChannelButton {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

@media screen and (min-width: 768px){
    .ChannelsList {
        flex: .25;
        max-width: 250px;
        /* border-left: ; */
    }
}